html{
  background-color: #222222;
}
/* 隐藏垂直滚动条 */
::-webkit-scrollbar {
  display: none;
}
*{
  font-family: Sytf,serif;
  color: #b2b2b2;
}
html.dark {
  /* 自定义深色背景颜色 */
  --el-bg-color: #222222;
}
